.center {
	text-align: center;
}
li.disabled {
	border: 1px solid #FFB3B3  /*{c-bup-border}*/;
	background: 			#FFBABA /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFBABA /*{c-bup-background-start}*/, #FFD2D2 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFBABA /*{c-bup-background-start}*/, #FFD2D2 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFBABA /*{c-bup-background-start}*/, #FFD2D2 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFBABA /*{c-bup-background-start}*/, #FFD2D2 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFBABA /*{c-bup-background-start}*/, #FFD2D2 /*{c-bup-background-end}*/);
}