/* Splash screen */
@import 'android-loader.css';

#splashscreen .loading {
	margin: 50% auto;	
}


/* Places list */
#places li.disabled {
	opacity: .5;
}
.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
	padding-right: 20px;
}

/* Header */
.ui-header.ui-fixed-hidden {
	padding: 1px 0;
}

/* Footer */
.ui-footer .ui-title {
	margin: 10px;
	text-align: center;
}
.ui-footer.ui-fixed-hidden {
	padding: 1px 0;
}
.ui-navbar .active {
	background: #B6DB49;
}